.app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  h1 {
    margin-left: 120px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .chart {
      max-width: 400px;
      width: 100%;
      margin: 20px;
      padding: 20px;
      border: 1px solid #D6DEF5;
      box-sizing: border-box;
      /* shadow content */
      box-shadow: 0px 0px 8px rgba(46, 97, 250, 0.15);
      border-radius: 6px;

      .period {
        position: absolute;
        display: flex;
        align-items: center;
        right: 65px;
        top: 25px;
        
        p {
          margin-right: 10px;
          font-size: 14px;
        }

        select {
          border-radius: 5px;
          height: 30px;
          width: 120px;
          padding: 0 3px;
          border: 1px solid #D6DEF5;
        }
      }

      .apexcharts-menu-icon {
        margin-top: -45px;
      }

      &.radialBar {
        .apexcharts-toolbar {
          right: 40px;
        }
      }
      
      .apexcharts-radialbar {
        .apexcharts-radial-series {
          path {
            stroke-linecap: round;
          }
        }
      }

      &.chartLong {
        max-width: 600px;
      }

      h2 {
        font-size: 18px;
        line-height: 21px;
        color: #2E61FA;
      }
    }
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
